@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin inline-block{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

@mixin text-overflow{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// sass functions

@function px2rem( $px ){
    @return $px*320/$designWidth/20 + rem;
}

@function tint($color, $percent){
  @return mix(white, $color, $percent);
}
@function shade($color, $percent){
  @return mix(black, $color, $percent);
}

