<div class="layout-hd" r-style={ {height: screenHeight+'px' } }>
	<h1 class="title">Regular Chat</h1>
	<h3 class="description">Beautiful Chat APP Bulit RegularJs</h3>
	<div class="layout-hd-line"></div>
	<layout-input></layout-input>
</div>
<div class="layout-content">
	<div class="chat-description">
		<h3>Start chatting</h3>
		<div class="line"></div>
		<p>Chat with anyone you want, about anything you want</p>
	</div>
	<chat-person></chat-person>
</div>

<div class="footer">
	<div class="copyright">Copyright © 2016 <a href="https://github.com/zzetao">@zzetao</a></div>
</div>