<div class="chat-sidebar" on-scroll={this.loadMore($event)}>
	<div class="contact-list">
		<ul class="contact-item-wrap">
			{#list contacts as contact}
			<li class="contact-item"
				on-click={this.select(contact,contact_index)}
				r-class={{"active": selectedContact[contact_index] === true}}
			>
				<div class="avatar">
					<img src={contact.avatar_url} />
				</div>
				<div class="info">
					<div class="name">{contact.name}</div>
					<div class="newst-message">{contact.message}</div>
				</div>
				<div class="other">
					<div class="time">{contact.time}</div>
					{#if contact.unread > 0}
					<div class="unread-count">{contact.unread}</div>
					{/if}
				</div>
			</li>
			{/list}
		</ul>
		<loading show={isShowLoading} />
	</div>
</div>
